{% extends 'base.html'%}

{% block content %}


{% if user.is_authenticated %}


<div class="container">
    <h1>Detalhes dos Produtos</h1>
    <ul>
        <li><strong>ID: </strong>{{ produto.id }}</li>
        <li><strong>Nome: </strong>{{ produto.name }}</li>
        <li><strong>Descrição: </strong>{{ produto.descricao }}</li>
        <li><strong>Valor: </strong>{{ produto.preco }}</li>
    </ul>
    <button onclick="window.history.back()" class="btn btn-danger">Voltar</button>
    <button onclick="window.location.href = '/product/{{ produto.id }}/update/'">Alterar</button>
    <button onclick="window.location.href = '/product/{{ produto.id }}/delete/'">Deletar</button>
</div>

{% else %}
    <h1>Por favor, efetue o <a href="{% url 'admin:login' %}?next=/">login</a> para acessar.</h1>


{% endif %}

{% endblock %}